.article {
    margin-left: 30px;
    padding-bottom: 5%;
    margin-right: 2%;
}

.article--drink {
    display: flex;
    flex-wrap: wrap;

}

.article__header {
    margin-left: 25px;
    max-width: 95%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-top: 2px solid #ccc;
    flex-basis: 100%;
}

.article__list {
    list-style: none;
}

.article__name {
    font-size: 111%
}

.article__paragraph {
    text-align: center;
    font-size: 111%;
}

.article__photo {
    max-width: 90%;
    min-width: 90%;
    margin-left: 20px;

}

.article__photo--drink {
    max-width: 50%;
    min-width: 50%;
    margin-left: 20px;

}

.article__order {
    list-style: upper-roman;
    max-width: 400px
}

.article__unorder {
    list-style-type: square;
    max-width: 400px;
}

.article__container {
    display: flex;
    flex-direction: column;
}


@media (max-width:767px) {
    .article__photo--drink {
        max-width: 70%;
    }
}