.list {
    list-style: none;
}

.list__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}


.list__paragraph {
    text-align: center;
    font-size: 111%;
    align-self: center;
    flex-basis: 100%;

}

.list__photo {
    width: 800px;
    height: 800px;
    max-height: 80%;
    max-width: 90%;
    object-fit: cover;
    border: 4px solid rgb(11, 12, 10);
    border-radius: 50%;
    align-self: center;
    flex-basis: 50%;
}

.list__link {
    text-align: center;
}

.list__social {
    max-width: 15%;

}

.list__social:hover {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}