.list {
    list-style: none;
}

.list__element {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}


.list__paragraph {
    text-align: center;
    font-size: 111%;
    align-self: center;
    flex-basis: 100%;

}

.list__photo {
    width: 500px;
    height: 500px;
    max-height: 80%;
    max-width: 90%;
    object-fit: cover;
    border: 4px solid rgb(11, 12, 10);
    border-radius: 50%;
    align-self: center;
   
}

.list__link {
   display: flex;
   justify-content: space-evenly;
  
}

.list__social {
    max-width: 200px;
}
.list__image {
    max-width: 200px;
    margin: 0%;

}

.list__image:hover {
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
}

@media (max-width:767px) {
 .list__photo {
     width:200px;
     height: 200px;
 }
 .list__image {
    max-width: 50px;
    margin: 0%;
 }
}